{% extends "templates/store/base.html" %}

{% block body %}
<div class="columns">
    <div class="column is-one-third">
        <img class="cover-image px-6" src="{{ doc.cover_image }}" alt="Book Cover Image">
    </div>
    <div class="column">
        <div>
            <h1 class="title is-1">{{ doc.name }}</h1>
            <h2 class="subtitle is-4">by {{ author.name }}</h2>
        </div>
        <div class="mt-3">
            <span class="tag is-link is-normal">{{ doc.format }}</span>
        </div>
    </div>
</div>
{% endblock %}